* {
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
header,
footer {
  display: flex;
  justify-content: flex-end;
  background-color: green;
  padding: auto 10px;
}
nav {
  display: flex;
  list-style-type: none;
  text-decoration: none;
  list-style-type: none;
  align-content: center;
}
nav a {
  flex: 0, 1;
  text-decoration: none;
  margin: 10px 5px;
  color: white;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
figure {
  text-align: center;
}
